@import "tailwindcss";

button{
           background-color: rgb(212, 201, 201);
      padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
      
}

h1{
    background-color: rgb(212, 201, 201);
width: fit-content;
   padding: 10px 80px;
    margin: 10px;
    font-size: 100px;
    border-radius: 5px;

}